language: python
python:
  - "2.7"
  - "3.6"
install:
  - pip install flake8 yapf pytest
  - python setup.py install
script:
  - aws_list_all --help
  - pytest aws_list_all
  - flake8 aws_list_all
  - yapf -d -r aws_list_all/
